* {
    margin: 0;
    padding: 0;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow: hidden;
}
.home_inner {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.home_contain {
    width: 1000px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #FFD663;
    position: relative;
    border: 2px solid black;
}

.home_contain::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(50.5%) translateY(50.5%) rotate(45deg);
    width: 200px;
    height: 200px;
    background: #fff;
    border-left: 2px solid black;
}

.home_Nav_bar {
    top: 0;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_Link {
    margin: auto;
    font-size: 20px;
    transition: 0.2s ease-in-out;
    border-bottom: 2px solid black;
    border-right: 2px solid black;
    width: 100%;
    height: 100%;
    background-color: #FBE09B;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_Link:nth-child(4) {
    border-right: none;
}

.home_Link a {
    text-decoration: none;
    transition: .2s ease-in-out all;
    color: #95a7af;
}
.home_Link a:hover {
    color: tomato;
    scale: 1.1;
}

.home_diagnosis {
    width: 500px;
    height: 100px;
    background: #FFFFFF;
    border: 2px solid #92CBDC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home_diagnosis a {
    text-decoration: none;
    font-size: 30px;
    font-weight: bold;
    color: #95a7af;
    transition: 0.5s ease-in-out all;
}
.home_diagnosis a:hover {
    color: black;
}